<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>AboutUs</title>
       <link rel="stylesheet" href="#" th:href="@{/css/bootstrap.css}" />
       <link rel="stylesheet" href="#" th:href="@{/css/all.css}" />
       <link rel="stylesheet" href="#" th:href="@{/css/sidemanu.css}" />
       <link rel="stylesheet" href="#" th:href="@{/css/index.css}" />
       
</head>
<body>
    <div class="header">
        <div class="side-nav">
          <!-- <a href="@{/}" class="logo"> 
          </a> -->
         <h3 class="logo-h1">FilimBooking</h3>
            <ul class="nave-link">
                <li><a th:href="@{/}"><i class="fas fa-home"></i>&nbsp;&nbsp;<p>Home</p></a></li>
                <li><a th:classappend="${menu == 'about'}? 'text-dark' : ' '" th:href="@{/aboutus}"><i class="fas fa-address-card"></i>&nbsp;&nbsp;<p>AboutUs</p></a></li>
                <li><a th:href="@{/contactus}"><i class="fas fa-phone-square-alt"></i>&nbsp;&nbsp;<p>ContactUs</p></a></li>
                <div class="active">

                </div>
            </ul>
        </div>
        <div class="top-nav">
            <div class="nav-right">
                     
                <form action="@{serching}" method="get">
                                <div class="search-box">
                    
                
                <input type="text" placeholder="scarch your movie..." required="required">
                <button type="submit"><i class="fa fa-search"></i></button>
                    
                </div>
                
               </form>
                   
                
                </div>
                
       </div>
       
                       
            
    </div>
       
</body>
</html>