<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Home</title>
<link rel="stylesheet" href="#" th:href="@{/css/bootstrap.css}" />
<link rel="stylesheet" href="#" th:href="@{/css/all.css}" />
<link rel="stylesheet" href="#" th:href="@{/css/sidemanu.css}" />
</head>
<body>

	 <div class="header" style="background: white;">
        <div class="side-nav">
          <!-- <a href="@{/}" class="logo"> 
          </a> -->
         <h3 class="logo-h1">FilimBooking</h3>
            <ul class="nave-link">
                <li><a th:classappend="${menu == 'home'}? 'text-dark' : ' '" href="@{/}"><i class="fas fa-home"></i>&nbsp;&nbsp;<p>Home</p></a></li>
                <li><a th:classappend="${menu == 'register'} ? 'text-dark' : ' '" th:href="@{/register}"><i class="fas fa-user-plus"></i>&nbsp;&nbsp;<p>Register</p></a></li>
                <li><a th:href="@{/loginForm}"><i class="fas fa-users"></i>&nbsp;&nbsp;<p>Login</p></a></li>
                <li><a th:href="@{/aboutus}"><i class="fas fa-address-card"></i>&nbsp;&nbsp;<p>AboutUs</p></a></li>
                <li><a th:href="@{/contactus}"><i class="fas fa-phone-square-alt"></i>&nbsp;&nbsp;<p>ContactUs</p></a></li>
                <div class="active">

                </div>
            </ul>
        </div>
        <div class="top-nav">
            <div class="nav-right">
                     
                <form action="serching">
                <div class="search-box">
                    
                
                <input type="text" placeholder="scarch your movie..." required="required">
                <button type="submit"><i class="fa fa-search"></i></button>
                    
                </div>
                
               </form>
                   
                
                </div>
                
       </div>
			 <div class="containers">
          <div class="form-box">
            <h1 id="title">Register</h1>
            <form action="save" method="post">
           
                <div class="input-group">
                <div class="input-field">
                            <i class="fa-solid fa-key"></i>
                            <input type="text" placeholder="User Name" required="required" name="cName">
                       </div>
                    <div class="input-field">
                        <i class="fa-solid fa-envelope"></i>
                        <input type="email" placeholder="email" required="required" name="email">
                        </div>
                        <div class="input-field">
                            <i class="fa-solid fa-key"></i>
                            <input type="password" placeholder="password" required="required" name="password">
                  </div>
                </div>
                <div class="btn-field">
                    <button type="submit"  id="signinbtn" class="disable">Login</button>
                </div>
               <p>Already register Go To Login<span><a th:href="@{/loginForm}">click here</a></span></p>
            </form> 
          </div>
       </div>
</body>
</html>